{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'static/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'static/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="home.html"><img src="{% static 'images/logo.jpg' %}" width="50" height="50"></a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle" ><span>Menu</span></a>
									<div id="menu" style="background-color:rgba(0, 0, 0, 0.7);">
										<ul>

											<li><a href="home.html">Home</a></li>
											<li><a href="about.html">About us</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>We Are Kaptured Studio</h2>
							<p>A Team of Freelance Photographers</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>When did we start?</h3>
								<p>After the pandemic (COVID-19), we thought about opening a freelance photograpy team because we know that we can do it based on our experiences and expertise.</p>

								<hr />

								<h4>Who are the people behind it?</h4>
								<p><b>Creator/Main Photographer:</b></p>
								<p><i>-Kate Montoya</i></p>

								<p><b>Assistant Photographer:</b></p>
								<p><i>-Thegiodore Samson</i></p>

								<p><b>Editors</b></p>
								<p><i>-Thegiodore Samson:</i></p>
								<p><i>-Kate Montoya</i></p>


							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://www.facebook.com/kapturedphotographybykatem/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="info.txt" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
						<li>&copy; Kaptured Studio 2021</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
            <script src="{% static 'static/js/jquery.min.js' %}"></script>
			<script src="{% static 'static/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'static/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'static/js/browser.min.js' %}"></script>
			<script src="{% static 'static/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'static/js/util.js' %}"></script>
			<script src="{% static 'static/js/main.js' %}"></script>
	</body>
</html>