{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Samson's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'static/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'static/css/noscript.css' %}" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->

			<div id="page-wrapper">

				<!-- Header -->

					<header id="header" class="alt">
						<h1><a href="home.html"><img src= "{% static 'static/images/logo.jpg' %}" width="50" height="50"></a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle" ><span>Menu</span></a>
									<div id="menu" style="background-color:rgba(0, 0, 0, 0.7);">
										<ul>

											<li><a href="home.html">Home</a></li>
											<li><a href="about.html">About us</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner" >
						<div class="inner" >
							<h2>HELLO!</h2>
							<p>MY NAME IS<br />
							<strong>THEGIODORE SAMSON</strong><br />
							AND I AM A <a href="https://www.facebook.com/kapturedphotographybykatem/">FREELANCE PHOTOGRAPHER</a>.</p>
							<ul class="actions special">

							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 special" style="background-color:#FF7900;">
						<div class="inner">
							<header class="major">
								<h2>Welcome to our Website<br /></h2>
								<p>We are very happy that you've visited us.<br />
								The following that you will see are sample images that we took all throughout our career.</p>
							</header>
							<ul class="icons major">
								<li><i class="fa fa-camera" style="font-size:48px;color:white"></i>
<br></li>
								<li><i class="fa fa-laptop" style="font-size:48px;color:white"></i>
<br></li>
								<li><i class="fa fa-image" style="font-size:48px;color:white"></i>
<br></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2" style="background-color:#FF7900;">
						<section class="spotlight">
							<div class="image"><img src="{% static 'static/images/pic01.jpg' %}" alt="" /></div><div class="content">
								<h2>UNFORGETTABLE MOMENTS</h2>
								<p>We are here to capture memories that last a lifetime.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="{% static 'static/images/pic02.jpg' %}" alt="" /></div><div class="content">
								<h2>PICTURE PERFECT</h2>
								<p>Seeing yourself shine at your brightest.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="{% static 'static/images/pic03.jpg' %}" alt="" /></div><div class="content">
								<h2>SENSE OF CONTENTMENT</h2>
								<p>Our service can assure you that your pictures can bring you happiness and satisfaction.</p>
							</div>
						</section>
					</section>

				<!-- Three -->

								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>What are you waiting for?</h2>
								<p>If you want to book us, please do not hesitate to reach us out</p>
							</header>
							<ul class="actions stacked">
								<li><a href="info.txt" class="button fit primary">Contact Us</a></li>
								<li><a href="https://www.facebook.com/kapturedphotographybykatem/" class="button fit">Facebook Page</a></li>

							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://www.facebook.com/kapturedphotographybykatem/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="info.txt" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'static/js/jquery.min.js' %}"></script>
			<script src="{% static 'static/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'static/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'static/js/browser.min.js' %}"></script>
			<script src="{% static 'static/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'static/js/util.js' %}"></script>
			<script src="{% static 'static/js/main.js' %}"></script>

	</body>
</html>